@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
 --White: hsl(0, 0%, 100%);
 --Grey: hsl(0, 0%, 20%);
 --Dark-Grey: hsl(0, 0%, 12%);
 --Off-Black: hsl(0, 0%, 8%);
 --Green: hsl(75, 94%, 57%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Off-Black);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-box{
    background-color: var(--Dark-Grey);
    width: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-avatar{
    border-radius: 100%;
    overflow: visible;
    background-color: aliceblue;
    width: 70px;
    background-image: url(assets/images/avatar-jessica.jpeg);
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 1rem;
}
.profileInfo{
    text-align: center;
    font-family: "Inter", sans-serif;
}
.profileInfo h4{
    color: var(--White);
    margin-top: 1.5rem;
    font-size:1.2rem;
}
.profileInfo h5{
    color: var(--Green);
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    font-weight: 400;
    font-size: .7rem;
}
.profileInfo p{
    color: var(--White);
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: 1rem;
}
.socialLinks .link{
    list-style: none;

}
.socialLinks .link a{
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Grey);
    border-radius: .5rem;
    cursor: pointer;   
    color: var(--White);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: .7rem;
    font-weight: 700;
    width: 15rem;
    height: 5vh;
}
.socialLinks .link a:hover{
    background-color: var(--Green);
    color: var(--Dark-Grey);
}
.socialLinks .link:last-child{
    margin-bottom: 35px;
}
.attribution {
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
    color: var(--White);
  }
.attribution a{
    text-decoration: none;
    color: var(--Green);
}

@media (max-width: 500px) {
    .container {
        margin: auto;
    }
    .profile-box{
        height: 100%;
    }
  }
